absl-py==2.5.0
altair==5.5.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
astunparse==1.6.3
attrs==26.1.0
blinker==1.9.0
cachetools==6.2.6
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
contourpy==1.3.3
cycler==0.12.1
fastapi==0.141.1
flatbuffers==25.12.19
fonttools==4.63.0
gast==0.7.0
gitdb==4.0.12
GitPython==3.1.55
google-pasta==0.2.0
grpcio==1.83.0
h11==0.16.0
h5py==3.16.0
idna==3.18
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.13.2
kiwisolver==1.5.0
libclang==18.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.0
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
narwhals==2.24.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.19.1
packaging==25.0
pandas==2.2.2
pillow==11.3.0
plotly==5.24.1
protobuf==6.33.6
pyarrow==25.0.0
pydantic==2.13.4
pydantic_core==2.46.4
pydeck==0.9.3
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.2
referencing==0.37.0
requests==2.34.2
rich==15.0.0
rpds-py==2026.6.3
scikit-learn==1.6.1
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
smmap==5.0.3
starlette==1.3.1
streamlit==1.48.0
tenacity==9.1.4
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.7
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
uvicorn==0.52.0
Werkzeug==3.1.8
wrapt==2.2.2
